<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Agil Devtil</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @*<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:900">*@
    @*@Styles.Render("~/sbadmin/css")*@
    <link rel="stylesheet" href="@Url.Content("~/Content/font.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/app.v2.css")" />

</head>

<body>

    <!-- header -->
    <header id="header" class="navbar">

        <ul class="nav navbar-nav navbar-avatar pull-right">
            @{Html.RenderAction("List", "Project");}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs-only">
                        <i class="fa fa-user fa-fw" style="display:inline-block;top:-10px;position:relative;"></i>
                        <span style="display:inline-block;">Leandro Briglio <br /> Some COmpany</span>
                        <i class="fa fa-caret-down" style="display:inline-block;top:-10px;position:relative;"></i>
                    </span>
                    @*<span class="thumb-small avatar inline">
                        <img src="images/avatar.jpg" alt="Mika Sokeil" class="img-circle">
                    </span>*@
                    <b class="caret hidden-xs-only">
                    </b>
                </a>
                <ul class="dropdown-menu pull-right">
                    @*<li>
                        <a href="#">
                            Profile
                        </a>
                    </li>*@
                    <li>
                        <a href="@Url.Action(" logout","account")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a class="navbar-brand" href="#">
            Agil Devtil
        </a>
        
        @*<form class="navbar-form pull-left shift" action="" data-toggle="shift:appendTo" data-target=".nav-primary">
            <i class="fa fa-search text-muted">
            </i>
            <input type="text" class="input-sm form-control" placeholder="Search">
        </form>*@
    </header>
    <!-- / header -->
    <!-- nav -->
    <nav id="nav" class="nav-primary hidden-xs nav-vertical">
        <ul class="nav" data-spy="affix" data-offset-top="50">
            <li>
                <a href="@Url.Action("index","project")">
                    <i class="fa fa-lightbulb-o fa-lg">
                    </i>
                    <span>
                        Proyectos
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("index","team")">
                    <i class="fa fa-users fa-lg">
                    </i>
                    <span>
                        Equipos
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("index","user")">
                    <i class="fa fa-user fa-lg">
                    </i>
                    <span>
                        Usuarios
                    </span>
                </a>
            </li>
            @if (ViewBag.SelectedProjectId != null)
            {
                <li>
                    <a href="@Url.Action("index","sprint")">
                        <i class="fa fa-flag fa-lg">
                        </i>
                        <span>
                            Sprints
                        </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index","change")">
                        <i class="fa fa-repeat fa-lg">
                        </i>
                        <span>
                            Cambios
                        </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index","test")">
                        <i class="fa fa-flask fa-lg">
                        </i>
                        <span>
                            Tests
                        </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("dashboard", "project")">
                        <i class="fa fa-dashboard fa-lg">
                        </i>
                        <span>
                            Panel de<br/>
                            Control
                        </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("kanban","sprint")">
                        <i class="fa fa-th fa-lg">
                        </i>
                        <span>
                            Kanban
                        </span>
                    </a>
                </li>

            }
        </ul>
    </nav>
    <!-- / nav -->
    <section id="content">
        <section class="main padder" style="margin-top:1%;">

            @RenderBody()
        </section>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small>
                    &copy; first 2013, Mobile first web app framework base on Bootstrap
                </small>
                <br>
                <br>
                <a href="#" class="btn btn-xs btn-circle btn-twitter">
                    <i class="fa fa-twitter">
                    </i>
                </a>
                <a href="#" class="btn btn-xs btn-circle btn-facebook">
                    <i class="fa fa-facebook">
                    </i>
                </a>
                <a href="#" class="btn btn-xs btn-circle btn-gplus">
                    <i class="fa fa-google-plus">
                    </i>
                </a>
            </p>
        </div>
    </footer>
    <!-- / footer -->
    <!-- Bootstrap -->
    <!-- app -->
    <!-- Sparkline Chart -->
    <!-- Easy Pie Chart -->

    <script src="@Url.Content("~/Scripts/app.v2.js")"></script>

    <script src="@Url.Content("~/Scripts/ProjectSelector.js")" type="text/javascript"></script>

    @RenderSection("scripts", required: false)

</body>

</html>