@model DAL.Project

@{
    ViewBag.Title = "Dashboard";
}

@*<h1>Burndown</h1>*@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <i class="fa fa-bell fa-fw">
                </i>
                Burndown
            </div>
            <div class="panel panel-body">
                <div id="burndownContainer"></div>
            </div>
        </div>
    </div>
</div>


@*<h1>Cambios</h1>*@

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <i class="fa fa-bell fa-fw">
                </i>
                Cambios por prioridad
            </div>
            <div class="panel panel-body">
                <div id="changesByPriorityContainer"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <i class="fa fa-bell fa-fw">
                </i>
                Cambios por tipo
            </div>
            <div class="panel panel-body">
                <div id="changesByTypeContainer"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">

    </div>

    <div class="col-lg-4">
        <!--Aprobaciones pendientes-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-spinner fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="pendingApprovalChangesCountContainer">0</div>
                        <div>Aprobaciones pendientes</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Cambios de emergencia-->
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bell fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="emergencyChangesCountContainer">0</div>
                        <div>Cambios de emergencia</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <!--Errores identificados-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bug fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="identifiedErrorsCountContainer">0</div>
                        <div>Errores identificados</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Tiempo de corrección promedio-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clock-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><span id="avgFixingTimeContainer">0</span><span> hs</span></div>
                        <div>Tiempo de corrección promedio</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Incidentes causados por versiones nuevas-->
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-plus fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="newVersionErrorsCountContainer">0</div>
                        <div>Incidentes causados por versiones nuevas</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fracasos de pruebas de aceptación de servicio-->
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-times fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="serviceAcceptanceFailuresCountContainer">0</div>
                        <div>Fracasos de pruebas de aceptación de servicio</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <i class="fa fa-bell fa-fw">
                </i>
                Urgencia de cambios por fecha
            </div>
            <div class="panel panel-body">
                <div id="changesUrgencyByDateContainer"></div>
            </div>
        </div>
    </div>
</div>

@*<h1>Tests</h1>*@


@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script type="text/javascript">

        $(function () {
            //Burndown
            $.get('@Url.Action("GetBurndownChart", "Sprint")', null, function (data) {
                $('#burndownContainer').highcharts(data);
            });


            //
            $.get('@Url.Action("GetChangesByPriorityChart","Change")', null, function (data) {
                $('#changesByPriorityContainer').highcharts(data);
            });

            $.get('@Url.Action("GetChangesByTypeChart","Change")', null, function (data) {
                $('#changesByTypeContainer').highcharts(data);
            });

            //Change
            $.get('@Url.Action("GetEmergencyChangesCount", "Change")', null, function (data) {
                $('#emergencyChangesCountContainer').html(data);
            });

            $.get('@Url.Action("GetPendingApprovalsCount", "Change")', null, function (data) {
                $('#pendingApprovalChangesCountContainer').html(data);
            });

            $.get('@Url.Action("GetChangesUrgencyByDateChart", "Change")', null, function (data) {
                $('#changesUrgencyByDateContainer').highcharts(data);
            });

            GetChangesUrgencyByDateChart

            //Test
            $.get('@Url.Action("GetIdentifiedErrorsCount", "Test")', null, function (data) {
                $('#identifiedErrorsCountContainer').html(data);
            });

            $.get('@Url.Action("GetAvgFixingTime", "Test")', null, function (data) {
                $('#avgFixingTimeContainer').html(data);
            });

            $.get('@Url.Action("GetNewVersionErrorsCount", "Test")', null, function (data) {
                $('#newVersionErrorsCountContainer').html(data);
            });

            $.get('@Url.Action("GetServiceAcceptanceFailuresCount", "Test")', null, function (data) {
                $('#serviceAcceptanceFailuresCountContainer').html(data);
            });


        });

    </script>
}