@model DAL.Project

@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    @*<h1>Burndown</h1>*@
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                @*<i class="fa fa-bell fa-fw">
                    </i>*@
                Burndown
            </header>
            <div class="panel-body">
                <div id="burndownContainer" class="loader"></div>
            </div>
        </section>
    </div>

    @*Urgencia de cambios por fecha*@
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-area-chart fa-fw">
                </i>
                Urgencia de cambios por fecha
            </header>
            <div class="panel-body">
                <div id="changesUrgencyByDateContainer" class="loader"></div>
            </div>
        </section>
    </div>
</div>

@*<h1>Cambios</h1>*@
<div class="row">
    <div class="col-lg-6">
        <div class="col-lg-4">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-bell fa-fw">
                    </i>
                    Cambios por prioridad
                </header>
                <div class="panel-body">
                    <div id="changesByPriorityContainer" class="loader"></div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-bell fa-fw">
                    </i>
                    Cambios por tipo
                </header>
                <div class="panel-body">
                    <div id="changesByTypeContainer" class="loader"></div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-bell fa-fw">
                    </i>
                    Cambios por impacto
                </header>
                <div class="panel-body">
                    <div id="changesByImpactContainer" class="loader"></div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <!--Aprobaciones pendientes-->
            <div class="col-lg-4">
                <section class="panel text-center">
                    <div class="panel-body">
                        <a class="btn btn-circle btn-info btn-lg">
                            <i class="fa fa-exclamation-triangle"></i>
                        </a>

                        <div class="h4">Aprobaciones pendientes</div>
                        <div class="line m-l m-r"></div>
                        <h4 class="text loader" id="pendingApprovalChangesCountContainer"></h4>
                        @*<small>Errores identificados</small>*@
                    </div>
                </section>
            </div>

            <!--Cambios de emergencia-->
            <div class="col-lg-4">
                <section class="panel text-center">
                    <div class="panel-body">
                        <a class="btn btn-circle btn-default btn-lg">
                            <i class="fa fa-bolt"></i>
                        </a>

                        <div class="h4">Cambios de emergencia</div>
                        <div class="line m-l m-r"></div>
                        <h4 class="text loader" id="emergencyChangesCountContainer"></h4>
                        @*<small>Errores identificados</small>*@
                    </div>
                </section>
            </div>
            <!--Fracasos de pruebas de aceptación de servicio-->
            <div class="col-lg-4">
                <section class="panel text-center">
                    <div class="panel-body">
                        <a class="btn btn-circle btn-danger btn-lg">
                            <i class="fa fa-times"></i>
                        </a>

                        <div class="h4">Fracasos de pruebas de aceptación de servicio</div>
                        <div class="line m-l m-r"></div>
                        <h4 class="text loader" id="serviceAcceptanceFailuresCountContainer">0</h4>
                        @*<small>hs</small>*@
                    </div>
                </section>
            </div>


        </div>
        <div class="row">
            <!--Tiempo de corrección promedio-->
            <div class="col-lg-4">
                <section class="panel text-center">
                    <div class="panel-body">
                        <a class="btn btn-circle btn-primary btn-lg">
                            <i class="fa fa-clock-o"></i>
                        </a>

                        <div class="h4">Tiempo de corrección promedio</div>
                        <div class="line m-l m-r"></div>
                        <h4 class="text loader" id="avgFixingTimeContainer">0</h4>
                        <small>hs</small>
                    </div>
                </section>
            </div>
            <!--Incidentes causados por versiones nuevas-->
            <div class="col-lg-4">
                <section class="panel text-center">
                    <div class="panel-body">
                        <a class="btn btn-circle btn-warning btn-lg">
                            <i class="fa fa-plus"></i>
                        </a>

                        <div class="h4">Incidentes causados por versiones nuevas</div>
                        <div class="line m-l m-r"></div>
                        <h4 class="text loader" id="newVersionErrorsCountContainer"></h4>
                        @*<small>Errores identificados</small>*@
                    </div>
                </section>
            </div>



            @*Errores identificados*@
            <div class="col-lg-4">
                <section class="panel text-center">
                    <div class="panel-body">
                        <a class="btn btn-circle btn-inverse btn-lg">
                            <i class="fa fa-bug"></i>
                        </a>

                        <div class="h4">Errores identificados</div>
                        <div class="line m-l m-r"></div>
                        <h4 class="text loader" id="identifiedErrorsCountContainer"></h4>
                        @*<small>Errores identificados</small>*@
                    </div>
                </section>
            </div>
        </div>
    </div>
    @*<h1>Tests</h1>*@
</div>

@section Scripts{
    <link rel="stylesheet" href="@Url.Content("~/Content/loading.css")" />


    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script type="text/javascript">

        $(function () {
            //Burndown
            $.get('@Url.Action("GetBurndownChart", "Sprint")', null, function (data) {
                $('#burndownContainer').removeClass("loader").highcharts(data);
            });


            //
            $.get('@Url.Action("GetChangesByPriorityChart","Change")', null, function (data) {
                $('#changesByPriorityContainer').removeClass("loader").highcharts(data);
            });

            $.get('@Url.Action("GetChangesByTypeChart","Change")', null, function (data) {
                $('#changesByTypeContainer').removeClass("loader").highcharts(data);
            });

            $.get('@Url.Action("GetChangesByImpact", "Change")', null, function (data) {
                $('#changesByImpactContainer').removeClass("loader").highcharts(data);
            });



            //Change
            $.get('@Url.Action("GetEmergencyChangesCount", "Change")', null, function (data) {
                $('#emergencyChangesCountContainer').removeClass("loader").html(data);
            });

            $.get('@Url.Action("GetPendingApprovalsCount", "Change")', null, function (data) {
                $('#pendingApprovalChangesCountContainer').removeClass("loader").html(data);
            });

            $.get('@Url.Action("GetChangesUrgencyByDateChart", "Change")', null, function (data) {
                $('#changesUrgencyByDateContainer').removeClass("loader").highcharts(data);
            });

            //GetChangesUrgencyByDateChart

            //Test
            $.get('@Url.Action("GetIdentifiedErrorsCount", "Test")', null, function (data) {
                $('#identifiedErrorsCountContainer').removeClass("loader").html(data);
            });

            $.get('@Url.Action("GetAvgFixingTime", "Test")', null, function (data) {
                $('#avgFixingTimeContainer').removeClass("loader").html(data);
            });

            $.get('@Url.Action("GetNewVersionErrorsCount", "Test")', null, function (data) {
                $('#newVersionErrorsCountContainer').removeClass("loader").html(data);
            });

            $.get('@Url.Action("GetServiceAcceptanceFailuresCount", "Test")', null, function (data) {
                $('#serviceAcceptanceFailuresCountContainer').removeClass("loader").html(data);
            });


        });

    </script>
}