@model DAL.Project

@{
    ViewBag.Title = "Eliminar proyecto";
}


<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="text-center h4">
                    Eliminar proyecto 
                </div>
                <hr />
                <div class="text-center h5">
                    ¿Está seguro que desea eliminar esto?
    
                </div>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color col-md-offset-3 col-md-6">
                            <input type="submit" value="Eliminar" class="btn btn-danger btn-block" />
                        </div>
                    }

                </div>
            </header>
        </section>
                <p>
                    @Html.ActionLink("Volver al índice", "Index")
                </p>
    </div>
</div>
