@model DAL.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in - Agil Devtil</title>

    @Styles.Render("~/Content/first")
    <!--[if lt IE 9]> <script src="js/ie/respond.min.js"></script> <script src="js/ie/html5.js"></script> <![endif]-->
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" />
</head>
<body>

    <!-- header -->
    @*<header id="header" class="navbar bg bg-black">

            <a class="navbar-brand" href="#">

            </a>
        </header>*@
    <!-- / header -->
    <section id="content">
        <div class="main padder">
            <div class="row" style="margin-top:4em;">
                <div class="col-lg-4 col-lg-offset-2 imageCol">
                    
                    <img src="@Url.Content("~/Content/devtil-logo-big-alt.png")" alt="logo" class="mainLogo col-lg-offset-1" />
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading text-center">
                            Inicio
                        </header>
                        @using (Html.BeginForm("LogIn", "Account", null, FormMethod.Post, new { @class = "panel-body" }))
                        {
                            @Html.Hidden("FirstName", "-")
                            @Html.Hidden("LastName", "-")

                            @Html.ValidationSummary(true)
                            <div class="block">
                                <label class="control-label">
                                    Email
                                </label>
                                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @class = "form-control", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="block">
                                <label class="control-label">
                                    Contraseña
                                </label>
                                @Html.PasswordFor(model => model.Password, new { placeholder = "Contraseña", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>

                            <input type="submit" value="Log in" class="btn btn-info btn-block" />
                            <div class="line line-dashed">
                            </div>

                            <p class="text-muted text-center">
                                <small>
                                    ¿No tiene una cuenta?
                                </small>
                            </p>
                            <a href="@Url.Action("SignUp")" class="btn btn-white btn-block">
                                Crear una cuenta
                            </a>
                        }
                    </section>
                </div>
                @*<div class="col-lg-4 col-lg-offset-2 m-t-large">

                </div>*@
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
            <div class="text-center padder clearfix">
                <p>
                    <small>&copy; Agile Devtil @DateTime.Today.Year</small>
                    <br>
                    <br>
                    <a href="https://twitter.com/AgileDevtil" class="btn btn-xs btn-circle btn-twitter">
                        <i class="fa fa-twitter">
                        </i>
                    </a>
                    <a href="https://www.facebook.com/agiledevtil" class="btn btn-xs btn-circle btn-facebook">
                        <i class="fa fa-facebook">
                        </i>
                    </a>
                </p>
            </div>
        </footer>
    <!-- / footer -->
    <!-- Bootstrap -->
    <!-- app -->
    @Scripts.Render("~/bundles/first")
</body>
</html>