@model DAL.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registro satisfactorio - Agil Devtil</title>
    @*
        <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/app.v2.css" type="text/css" /> <!--[if lt IE 9]> <script src="js/ie/respond.min.js"></script> <script src="js/ie/html5.js"></script> <![endif]-->
    *@
    @Styles.Render("~/Content/first")
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" />
</head>
<body>
    <!-- header -->
    @*<header id="header" class="navbar bg bg-black">
            <a class="navbar-brand" href="@Url.Action("LogIn","Account")"></a>
        </header>*@
    <!-- / header -->
    <section id="content">
        <div class="main padder">

            <div class="row" style="margin-top:4em;">
                <div class="col-lg-4 col-lg-offset-2 imageCol">

                    <img src="@Url.Content("~/Content/devtil-logo-big-alt.png")" alt="logo" class="mainLogo col-lg-offset-1" />
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading text-center h2"> ¡Registro satisfactorio! </header>
                        <div class="panel-body">
                            @Html.ActionLink("Volver al Log in", "LogIn", "Account", null, new { @class = "btn btn-lg btn-block btn-success" })
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small>&copy; Agile Devtil @DateTime.Today.Year</small>
                <br>
                <br>
                <a href="https://twitter.com/AgileDevtil" class="btn btn-xs btn-circle btn-twitter">
                    <i class="fa fa-twitter">
                    </i>
                </a>
                <a href="https://www.facebook.com/agiledevtil" class="btn btn-xs btn-circle btn-facebook">
                    <i class="fa fa-facebook">
                    </i>
                </a>
            </p>
        </div>
    </footer>
    <!-- / footer -->
    <!-- Bootstrap -->
    <!-- app -->
    @Scripts.Render("~/bundles/first")
</body>
</html>