@model DAL.ChangeRequest

@{
    ViewBag.Title = "Crear";
}

<div class="col-lg-6 col-lg-offset-0">
    <h2>Crear</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Solicitud de cambio</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.ProjectId)
            

            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApprovalId)
                @Html.DropDownList("ApprovalId", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApprovalId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChangeTypeId)
                @Html.DropDownList("ChangeTypeId", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ChangeTypeId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImpactId)
                @Html.DropDownList("ImpactId", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImpactId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PriorityId)
                @Html.DropDownList("PriorityId", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PriorityId)
            </div>

            <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver al índice", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
