@model DAL.ChangeRequest

@{
    ViewBag.Title = "Eliminar petción de cambio";
}


<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="text-center h4">
                    Eliminar petición de cambio
                </div>
                <hr />
                <div class="text-center h5">
                    ¿Está seguro que desea eliminar esto?

                </div>
                <div>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreationDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ProjectId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Project.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ChangeRequest.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ChangeRequest.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ApprovalId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Approval.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ChangeTypeId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ChangeType.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ImpactId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Impact.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PriorityId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Priority.Name)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color col-md-offset-3 col-md-6">
                            <input type="submit" value="Eliminar" class="btn btn-danger btn-block" />
                        </div>
                    }
                </div>
            </header>
        </section>
    </div>
</div>
