@model DAL.ChangeRequest

@{
    ViewBag.Title = "Editar solicitud de cambio";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-0">
        <section class="panel">
            <header>
                <div class="text-center h4">
                    Editar solicitud de cambio
                </div>
            </header>

            <div class="panel-body">
                @using (Html.BeginForm("Edit", "Change", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreationDate)
                    @Html.HiddenFor(model => model.ProjectId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Applicant, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(model => model.Applicant, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Applicant)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Area, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(model => model.Area, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Area)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ApprovalId, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.DropDownList("ApprovalId", null, String.Empty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApprovalId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ChangeTypeId, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.DropDownList("ChangeTypeId", null, String.Empty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChangeTypeId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImpactId, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.DropDownList("ImpactId", null, String.Empty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ImpactId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PriorityId, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.DropDownList("PriorityId", null, String.Empty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriorityId)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                }
                <p>
                    @Html.ActionLink("Volver al índice", "Index")
                </p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
