@model DAL.Sprint

@{
    ViewBag.Title = "Detalles de sprint";
}

<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="text-center h4">
                    Detalles de sprint <a class="btn btn-circle btn-white btn-xs" href="@Url.Action("edit", new { id=Model.Id })" alt="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ProjectId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Project.Name)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Volver al índice", "Index")
                </p>
            </header>
        </section>
    </div>
</div>