@model DAL.Team

@{
    ViewBag.Title = "Editar equipo";
}
<div class="row">
    <div class="col-lg-6 col-lg-offset-0">
        <section class="panel">
            <header>
                <div class="text-center h4">
                    Editar equipo
                </div>
            </header>

            <div class="panel-body">
                @using (Html.BeginForm("Edit", "Team", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ProjectId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                }

            </div>
        </section>
        <p>
            @Html.ActionLink("Volver al índice", "Index")
        </p>
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
